{% extends 'frontend/base.html' %}

<script>
  {% block jquery %}
  var endpoint = '/api/weightpoints/'
  var defaultData = []
  var labels = ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"]
  $.ajax({
      method: "GET",
      url: endpoint,
      success: function(data){
          console.log(data)
          labels = dateData(data)
          defaultData = weightData(data)
          createChart()
      },
      error: function(data){
          console.log('error')
          console.log(error_data)
      },
  })

    // separate weight
    const weightData = data => {
        let weights = []
        data.forEach(dataPoint => {
            weights.push(parseInt(dataPoint['weight']))
        })
        return weights
    }

    // separate date
    const dateData = data => {
        let dates = []
        data.forEach(dataPoint => {
            dates.push(dataPoint['date'])
        })
        return dates
    }

    // create chart with weight and date
    const createChart = () => {
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: "line",
            data: {
                labels: labels,
                datasets: [
                    {
                        label: "# of Votes",
                        data: defaultData,
                    }
                ]
            }
        })
    }

  {% endblock %}
</script>

{% block content %}

<div class="row">
  <div class="col-sm-12">
    <h1>Hello World</h1>
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>
</div>

{% endblock content %}
