{% extends 'weights/base.html' %} 
<!-- {% include 'chart.html' %}  -->
{% load static %} 

{% block css-style %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'weights/css/chart.css' %}"
/>
{% endblock %}

{% block script-link %}
<script src="{% static 'weights/script/chart.js' %}"></script>
{% endblock %}


{% block content %}
<h1>Weights View Page</h1>

<div class="row">
  <div class="col-sm-8">
    <div class="canvas-container">
      <canvas id="weight-chart" width="200" height="75"></canvas>
    </div>    
  </div>
  <div class="col-sm-4">
    <h3>Weight Entry</h3>

    <form action="" method=POST>{% csrf_token %}
        {{ weight_entry_form.as_p }}
        <input type="submit">
    </form>
  </div>
</div>


<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Weight</th>
      <th scope="col">Change</th>
    </tr>
  </thead>
  <tbody>
    {% for weight in weights_descending %}
    <tr>
      <td>{{ weight.date|date:"M d, Y" }}</td>
      <td>{{ weight.weight }}</td>
      <td>{{ weight.change }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}